* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #518acc; /* Old browsers */
    background: -moz-linear-gradient(left, #4cb4f6 8%, #007FCC 85%, #0270b2); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4cb4f6 8%, #007FCC 85%, #0270b2); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #4cb4f6 8%, #007FCC 85%, #0270b2); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#518acc', endColorstr='#9ec5e3',GradientType=1 );  /* IE6-9 */
    background: url(forrest.jpg);
}

.wrapper {
  width: 60%;
  margin: 5rem auto;
  background: white;
  opacity: .7;
  border-radius: 15px;
  text-align: center;
  padding: 1rem;
}

.date {
  display: block;
  margin: 0 auto;
}

.btn {
  font-size: 1rem;
  letter-spacing: 2px;
  color: white;
  margin: 4rem auto;
  padding: .8rem 1.4rem;
  border: none;
  box-shadow: none;
  cursor: pointer;
  border-radius: 4px;
  background: #0046CC; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#007FCC, #0046CC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#007FCC, #0046CC); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#007FCC, #0046CC); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#007FCC, #0046CC); /* Standard syntax */
}